.carousel {
    height: 60vh;
    width: 60vw;
    min-width: 300px;
    margin: auto;
    background-color: rgba($color: #f1f1f1, $alpha: 1.0);

    .carousel-item {
        img {
            height: 60vh;
        }
    }

    .carousel-caption {
        display: none;
    }

}